<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="value1" value="Team Member ID"/>
		<add key="value2" value="???" />
		<add key="value3" value="Car ID" />
		<add key="value4" value="Team ID" />
		<add key="value5" value="???" />
		<add key="value6" value="???" />
		<add key="value7" value="???" />
		<add key="value8" value="???" />
		<add key="value9" value="???" />
		<add key="value10" value="Name 1" />
		<add key="value11" value="Name 2" />
		<add key="value12" value="Leader" />
		<add key="value13" value="???" />
		<add key="value14" value="???" />
		<add key="value15" value="???" />
		<add key="value16" value="???" />
		<add key="value17" value="???" />
		<add key="value18" value="???" />
		<add key="value19" value="???" />
		<add key="value20" value="???" />
		<add key="value21" value="???" />
		<add key="value22" value="???" />
		<add key="value23" value="???" />
		<add key="value24" value="Sticker" />
		<add key="value25" value="???" />
		<add key="value26" value="???" />
		<add key="value27" value="???" />
		<add key="value28" value="???" />
		<add key="value29" value="???" />
		<add key="value30" value="???" />
		<add key="value31" value="???" />
		<add key="value32" value="???" />
		<add key="value33" value="???" />
		<add key="value34" value="???" />
		<add key="value35" value="???" />
		<add key="value36" value="???" />
		<add key="value37" value="???" />
		<add key="value38" value="???" />
		<add key="value39" value="???" />
		<add key="value40" value="???" />
		<add key="value41" value="???" />
		<add key="value42" value="???" />
		<add key="value43" value="???" />
		<add key="value44" value="???" />
		<add key="value45" value="???" />
		<add key="value46" value="???" />
		<add key="value47" value="???" />
		<add key="value48" value="???" />
		<add key="value49" value="???" />
		<add key="value50" value="???" />
		<add key="value51" value="???" />
		<add key="value52" value="???" />
		<add key="value53" value="???" />
		<add key="value54" value="???" />
		<add key="value55" value="???" />
		<add key="value56" value="???" />
		<add key="value57" value="???" />
		<add key="value58" value="???" />
		<add key="value59" value="???" />
		<add key="value60" value="???" />
		<add key="value61" value="???" />
		<add key="value62" value="???" />
		<add key="value63" value="???" />
		<add key="value64" value="???" />
		<add key="value65" value="???" />
		<add key="value66" value="???" />
		<add key="value67" value="Colour 1" />
		<add key="value68" value="Colour 2" />
		<add key="value69" value="???" />
		<add key="value70" value="???" />
		<add key="value71" value="???" />
		<add key="value72" value="???" />
		<add key="value73" value="???" />
	</appSettings>
</configuration>